---
import HomeLayout from "@/layouts/home.astro";
import HomeHeader from "@/components/HomeHeader.astro";
import DestinationRow from "@/components/DestinationRow.astro";

import destinations from "@/content/destinations.json";

const totalPlaces = destinations.reduce((s, d) => s + d.places.length, 0);
---

<HomeLayout title="Home">
  <div class="max-w-5xl mx-auto px-4 sm:px-8 lg:px-10">

    <HomeHeader
      destinationCount={destinations.length}
      totalPlaces={totalPlaces}
    />

    <div>
      {destinations.map((d, i) => (
        <DestinationRow
          slug={d.slug}
          name={d.name}
          country={d.country}
          region={d.region}
          year={d.year}
          img={d.img}
          places={d.places.length}
          index={i + 1}
        />
      ))}
    </div>

    <div class="py-6 text-right">
      <p class="text-xs text-muted-foreground">Last updated March 2026</p>
    </div>

  </div>
</Layout>